.one.third.centered
  %h1 Register
  = simple_form_for @user do |f|
    .row
      .one.whole=f.input :username
    .row
      .one.whole=f.input :email
    .row
      .one.whole=f.input :password
    .row
      .one.whole=f.input :password_confirmation, label: 'Confirm password'
    .row.pad-top
      .one.whole=button_tag 'Register'
