#info
  %h3="#{@match.type} Match #{@match.id}"
  %table
    %th Player
    %th Rating
    %th Seat
    - @match.participants.each do |p|
      %tr
        %td=p.player.name
        %td=p.player.rating
        %td=p.seat

= render partial: "#{@match.type.downcase}"