.chess-board {
  width: 392px;
  height: 392px;
  table-layout: fixed;

  td {
    height: 49px;
    width: 49px;
    padding: 0;
  }

  td.light-square {
    color: #b58863;
    background-color: #f0d9b5;
  }

  td.dark-square {
    color: #f0d9b5;
    background-color: #b58863;
  }

  .chess-occupied {
    position: relative;
    top: 2px;
    left: 2px;
  }

  .chess-k-white {
    content:url('chess/k-white.svg');
  }

  .chess-k-black {
    content:url('chess/k-black.svg');
  }

  .chess-q-white {
    content:url('chess/q-white.svg');
  }

  .chess-q-black {
    content:url('chess/q-black.svg');
  }

  .chess-b-white {
    content:url('chess/b-white.svg');
  }

  .chess-b-black {
    content:url('chess/b-black.svg');
  }

  .chess-n-white {
    content:url('chess/n-white.svg');
  }

  .chess-n-black {
    content:url('chess/n-black.svg');
  }

  .chess-r-white {
    content:url('chess/r-white.svg');
  }

  .chess-r-black {
    content:url('chess/r-black.svg');
  }

  .chess-p-white {
    content:url('chess/p-white.svg');
  }

  .chess-p-black {
    content:url('chess/p-black.svg');
  }

}